@media (min-width: 48rem) {

    header,
    main,
    nav,
    footer {
        max-width: 1650px;
        margin: 0 auto;
    }

    .hamburger {
        display: none;
    }

    header {
        grid-template-columns: 54px auto;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
    }

    .navigation li {
        flex: 1 1 100%;
    }

    .navigation a {
        border: none;
    }

    .list section {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    #cta-button {
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.8rem;
        padding: 0.5rem 1rem;
    }

    .news {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.5rem;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;
    }

    figcaption,
    #forecast-cards p {
        font-size: 1.25rem;
    }

    #forecast-cards h3 {
        font-size: 1rem;
    }
}