/* --- 1. RESET & VARIABLES ---*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #2455da;
    --nav-color: #7bdd6e;
    --nav-text-color: #fff;
    --font-color: #333333;
    --background-color: #f4f4f4;
    --gold-border: #F0E68C;
    --silver-border: #D3D3D3;
    --site-font: 'Teachers', sans-serif;
    --box-shadow: 0 0 10px #808080;
}

/* --- 2. GLOBAL STYLES --- */
body {
    font-family: var(--site-font);
    background-color: var(--background-color);
    color: var(--font-color);
}

section {
    padding: 15px;
    margin: 8px;
    background-color: #f3f3f3;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    text-align: center;
    /* Centers the text and images inside the cards */
}

h2,
p,
a {
    padding: 5px 0;
    margin: 5px 0;
}

/* --- 3. LAYOUT STRUCTURE --- */
header,
footer {
    font-family: var(--site-font);
    background-color: var(--main-color);
    color: var(--nav-text-color);
    padding: 1rem 10px;
    text-align: center;
}


header {
    display: grid;
    grid-template-columns: 54px auto 44px;
    align-items: end;
    padding: 5px 0px 5px 10px;
    column-gap: 8px;
    border-bottom: solid 1px #ddd;
    place-items: center;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
    margin: 10px;
}



header span {

    font-size: 2rem;
    font-weight: bold;
}

/* --- HAMBURGER --- */

.hamburger {
    background: none;
    border: none;
    color: var(--nav-text-color);
    cursor: pointer;
    margin: 10px 10px;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
    font-size: 2rem;
}

/* ---  NAVIGATION --- */
.navigation {
    display: none;
    background-color: var(--main-color);
    font-family: var(--site-font);
    font-size: 1.6rem;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    color: var(--nav-text-color);
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    border-bottom: solid 1px var(--main-color);
}

.navigation a:hover {
    background-color: var(--nav-color);
    color: var(--font-color);
}

.navigation li.active {
    text-decoration: underline;
    color: var(--nav-text-color);
}

.navigation li.active a:hover {
    text-decoration: underline;
    color: var(--font-color);
}

h1  {
    margin-left: 13px;
    padding-left: 7px;
}

.hero{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero img {
    width: 100%;
    max-width: 1400px;
    /* Prevents the image from getting larger than its native size */
    height: auto;
    aspect-ratio: 16/9;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}

.hero .action-area #cta-button{
    position: absolute;
    top: 1rem;
    right: 3rem;
    left: 3rem;
    margin: 10px 3rem;
    padding: 0.5rem 1rem;
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: none;
    background-color: var(--main-color);
    font-family: var(--site-font);
    color: var(--nav-text-color);
    border: solid 1px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}
.hero .action-area #cta-button:hover{
background-color: var(--nav-color);
color: var(--font-color);
}

article {
    margin: 13px;
    padding-left: 7px;
}

article p {
    margin-left: 13px;
    padding-left: 7px;
}

.grid-buttons {
    margin: 1rem auto;
    padding: 0.5rem;
    background-color: var(--main-color);
    font-family: var(--site-font);
    text-align: center;
}

.grid-buttons button {
    margin: 0px 5px;
    padding: 0.5rem 1rem;
    font-size: 1.6rem;
    background-color: var(--background-color);
    font-family: var(--site-font);
    color: var(--font-color);
    border: solid 1px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);


}

#members {
    min-height: 578px;
}

.grid-buttons button.active {
    text-decoration: underline;
}

.grid-buttons button:hover {
    background-color: var(--nav-color);
}

.grid {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding: 1rem;
}

.grid h2 {
    text-align: center;
    background-color: var(--main-color);
    color: var(--nav-text-color);
    box-shadow: var(--box-shadow);
    border-radius: 5px;
}

.grid p,
.grid a {
    display: block;
    text-align: start;
}

.grid .gold h2 {
    background-color: var(--gold-border);
    color: var(--font-color);
}

.grid .silver h2 {
    background-color: var(--silver-border);
    color: var(--font-color);
}


.list {
    display: flex;
    flex-direction: column;
}

.list section {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0.25rem;
    box-shadow: none;
    border-radius: 0px;
    text-align: left;
}

.list section>* {
    margin: 0 1rem;
}

.list section img {
    display: none;
}

.list section h2 {
    font-size: 1rem;
    color: var(--font-color);
}

.list section:nth-child(odd) {
    background-color: #bbb;
}


/* Card Images */
section img {
    width: 100%;
    max-width: 340px;
    /* Prevents the image from getting larger than its native size */
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}

/* --- Footer--- */
footer {
    margin-top: 1rem;
}

footer p {
    font-size: 1.2rem;
}

.socialmedia {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.socialmedia a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 22px;
    box-shadow: var(--box-shadow);
}

.socialmedia img {
    width: 40px;
    height: 40px;
}

.socialmedia a:hover {
    background-color: var(--nav-text-color);
}