/* --- 1. RESET & VARIABLES ---*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #2455da;
    --nav-color: #7bdd6e;
    --nav-text-color: #fff;
    --font-color: #333333;
    --background-color: #f4f4f4;
    --gold-border: #F0E68C;
    --silver-border: #D3D3D3;
    --site-font: 'Acme', sans-serif;
    --box-shadow: 0 0 10px #808080;
}

/* --- 2. GLOBAL STYLES --- */
body {
    font-family: var(--site-font);
    background-color: var(--background-color);
    color: var(--font-color);
}

section {
    padding: 15px;
    margin: 8px;
    background-color: #f3f3f3;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    text-align: center;
    /* Centers the text and images inside the cards */
}

h2,
p {
    padding: 5px;
    margin: 8px 0;
}

/* --- 3. LAYOUT STRUCTURE --- */
header,
footer {
    font-family: var(--site-font);
    background-color: var(--main-color);
    color: var(--nav-text-color);
    padding: 1rem 10px;
    text-align: center;
}

header {
    display: grid;
    grid-template-columns: 54px auto 44px 44px;
    align-items: end;
    padding: 5px 0px 5px 10px;
    column-gap: 8px;
    border-bottom: solid 1px #ddd;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 2rem;
    font-weight: bold;
}

/* --- 4. NAVIGATION & HAMBURGER --- */

.hamburger {
    background: none;
    border: none;
    color: var(--main-color);
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
    font-size: 2rem;
}

/* --- 5. NAVIGATION --- */
.navigation {
    display: none;
    background-color: var(--main-color);
    font-family: var(--site-font);
    color: var(--nav-color);
    font-size: 1.6rem;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    color: var(--nav-color);
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    border-bottom: solid 1px var(--main-color);
}

.navigation a:hover {
    background-color: var(--nav-color);
    color: var(--font-color);
}

.navigation li.active {
    text-decoration: underline;
}

h1 {
    margin-left: 10px;
}

#grid-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--main-color);
    font-family: var(--site-font);
    color: var(--nav-color);
    font-size: 1.6rem;

}

.grid {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding: 1rem;

    h2 {
            align-content: center;
            text-align: center;
            background-color: var(--main-color);
            color: var(--nav-text-color);
            box-shadow: var(--box-shadow);
            border-radius: 5px;
        }
}

.list {
    display: flex;
    flex-direction: column;

    section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        margin: 0;
        padding: 0.25rem;
        box-shadow: none;
        border-radius: 0px;
        
        & > *{
            margin: 0 1rem;
        }
        img{
            display: none;
        }
        h2{
            font-size: 1rem;
            color: var(--font-color);
            background-color: none;
            box-shadow: none;
            border-radius: none;
        }
        &:nth-child(odd){
            background-color: #bbb;
        }
    }
}

/* Card Images */
section img {
    width: 100%;
    max-width: 340px;
    /* Prevents the image from getting larger than its native size */
    height: auto;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}