/* --- medium.css ---*/
@media (min-width: 38rem) {
    .wire_frames {
        display: grid;
        grid-template-columns: 1fr 2fr;
        width: 100%;
    }
    .wire_frames h2 {
        grid-column: 1 / -1;
    }
}
/* --- End medium.css ---*/